---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Dish Descriptions",
    description:
      "Plain language descriptions of menu items, even the most exotic ingredients you never heard of.",
    icon: "frameworks/preact"
  },
  {
    title: "Wine Pairings",
    description:
      "Never be at a loss, SuppClub suggests the perfect wine pairing every time.",
    icon: "mdi:glass-tulip",
  },
  {
    title: "Allergen ID",
    description:
      "Highlights possible allergens in menu items so you can be in the know.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Deals and Discounts",
    description:
      "Special deals for using SuppClub at participating restaurants",
    icon: "mdi:graph",
  },
  {
    title: "Social Events",
    description:
      "Set up or go to social events with your SuppClub or other SuppClubs in your area",
    icon: "mdi:search-web",
  },
  {
    title: "Your Next Favorite Dish",
    description:
      "Love a good birria taco? How about eggplant parmesan? Whatever your favorite dish, use SuppClub to find the top rated in your area!",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    SuppClub makes you the hero of every dining adventure.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
