---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Join the Club" id="join">
  <div class="text-primary">Sign up to keep in touch as we build SuppClub</div>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "39999670",
      formId: "80cca58c-6a73-4a4a-8bad-104149167975"
    });
  </script>
</ContentSection>
