---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
---

<section class="relative h-full bg-black">
  <div id="splash-bg-fallback" class="absolute inset-0 opacity-60">
    <HeroImage />
  </div>
  <div class="relative grid h-screen place-items-center p-6">
    <h2 class="w-full md:w-3/4 lg:w-1/2">
      <Icon name="wordmark" class="w-full" />
      <div class="sr-only">SuppClub</div>
      <div class="text-tertiary text-center font-extrabold text-2xl md:text-3xl lg:text-4xl">
        Be a Supper Hero
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

